.header {
  flex: 0 0 65px;
  background: linear-gradient(to right bottom, #f15f79, #b24592);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
}
.header__unread {
  width: 25px; height: 25px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16em;
  font-weight: 700;
  border-radius: 100vmax;

  background-color: white;
  color: black;
  mix-blend-mode: color-dodge;
}
.header__back-button {
  height: 35px;
  width: 50px;
  margin-right: 10px;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.header__back-button:hover {
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.15);
}
.header__back-button::before {
  content: " ";
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%) rotate(45deg);
  width: 11px; height: 11px;
  border-bottom: 3px solid white;
  border-left: 3px solid white;
}
.header__back-button::after {
  content: " ";
  position: absolute;
  width: 19px;
  height: 3px;
  top: 50%;
  left: 15px;
  background-color: #ffffff;
  transform: translateY(-50%);
}
.header__title {
  height: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 24em;
  font-weight: 500;
}